
.btn:link,
.btn:visited {
    margin-top: 1.5rem;
    animation: moveBottonToTop 1s ease-out;
    text-transform: uppercase;
    text-decoration: none;
    display: flex;
    padding: 1rem 3rem;
    border-radius: 10rem;
    justify-content: center;
    position: absolute;
    font-size: 1rem;
}

.btn-white {
    margin: .1rem;
    padding: 1.5rem 4.5rem;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 2rem #eee;
    border-radius: 1rem;
    display: block;
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA 51%, #1FA2FF 100%);
    &:hover {
        transform: translateY(-.1rem);
        box-shadow: 0 10px 20px rgba($color-black, .5);
        background-position: right center;
        /* change the direction of the change here */
        color: black;
        text-decoration: none;
    }
    
    &:active {
        box-shadow: 0 .5rem 2rem rgba($color-black, .5);
        transform: translateY(+.2rem);
    }
    
}


.button-order-container {
    display: flex;
    width: 100%;
    justify-content: center;
   
}