// colors 
$color-primary: #f53803b3;
$color-secondary:#f5d02099;
$color-tertiory:#7d9bb8cc;
$color-background:#693425;
$color-background-2:#f5d020;
$color-background-3:#7d9bb8;
$color-black:#000;
$color-heading-primary-backgroud:#ffffff;
$color-heading-primary-boxshadow:#1f2687;
// width 
$grid-width:78rem;
$vertical-gutter:7rem;
$horizental-gutter:1.8rem;